name: Lint code

on: push

# Allow one concurrent deployment
concurrency:
  group: "linting"
  cancel-in-progress: true

jobs:
  SwiftLint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Swift Lint
        run: swiftlint
