name: Lint code

on: push

concurrency:
  group: "linting"
  cancel-in-progress: true

jobs:
  SwiftLint:
    runs-on: macos-14

    steps:
      - uses: actions/checkout@v4

      - name: Run SwiftLint
        run: swiftlint --strict
